# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies and builds
node_modules
dist
dist-ssr
*.local

# VS Code
.vscode/*
!.vscode/extensions.json

# OS files
.DS_Store

# Project backup
backup/
